<p class="text-green-500"><%= notice %></p>

<div id="clubs" class="space-y-4">
  <% @clubs.each do |club| %>
    <div class="bg-white p-4 rounded-lg shadow-md">
      <%= render club %>
      <p class="mt-2">
        <%= link_to "Show this club", club, class: "text-blue-500 hover:underline" %>
      </p>
    </div>
  <% end %>
</div>

<% if policy(Club).new? %>
    <%= link_to "New club", new_club_path, class: "btn btn-success inline-block bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700 mt-4" %>
<% end %>